<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125615538141-tk797g1s4rolc340oijrnt9ra9hqukia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125615538141-tk797g1s4rolc340oijrnt9ra9hqukia</string>
	<key>API_KEY</key>
	<string>AIzaSyCW7oSRn8BVxWsYzqYPu3EFnjgA21djlAM</string>
	<key>GCM_SENDER_ID</key>
	<string>125615538141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andrey.ulistproject</string>
	<key>PROJECT_ID</key>
	<string>u-test-39056</string>
	<key>STORAGE_BUCKET</key>
	<string>u-test-39056.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125615538141:ios:235689ce3deab5f63f8034</string>
</dict>
</plist>